version: 2.1

orbs:
  node: circleci/node@4.1
  browser-tools: circleci/browser-tools@1.1.3

jobs:
  test:  
    docker:
      - image: cimg/node:14.17.3-browsers
    steps:
      - checkout
      - attach_workspace:
          at: ~/angular-cc
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - node/install-packages
      - run: mkdir ~/junit
      - run:
          name: Run tests
          command: npm run headless-test
          environment:
            JUNIT_REPORT_PATH: ./junit/
            JUNIT_REPORT_NAME: test-results.xml
          when: always
      - store_test_results:
          path: ./junit
      - store_artifacts:
          path: ./junit
      - persist_to_workspace:
          root: .
          paths: junit/
  another-test:  
    docker:
      - image: cimg/node:14.17.3-browsers
    steps:
      - checkout
      - attach_workspace:
          at: ~/angular-cc
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - node/install-packages
      - run: mkdir ~/junit
      - run:
          name: Run tests
          command: npm run headless-test
          environment:
            JUNIT_REPORT_PATH: ./junit/
            JUNIT_REPORT_NAME: anothertest-results.xml
          when: always
      - store_test_results:
          path: ./junit
      - store_artifacts:
          path: ./junit
      - persist_to_workspace:
          root: .
          paths: junit/
  compile-tests:
    docker:
      - image: cimg/node:14.17.3
    steps:
      - checkout
      - attach_workspace:
          at: ~/angular-cc
      - run:
          name: Finding the files
          command: |
            cat ~/angular-cc/junit/anothertest-results.xml
      - store_artifacts:
          path: ./junit
workflows:
  build_test_deploy: 
    jobs:
      - test
      - another-test
      - compile-tests:
          requires:
            - test
            - another-test

